@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "wireframe";
  default: true;
  --color-neutral: var(--color-neutral-800);
  --color-neutral-content: var(--color-neutral-50);
}
.list {
  > :not(:last-child) {
    &.list-row,
    .list-row {
      &:after {
        border-color: var(--color-base-content);
        opacity: 5%;
      }
    }
  }
}
