@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "wireframe";
  default: true;
  --color-neutral: var(--color-neutral-800);
  --color-neutral-content: var(--color-neutral-50);
}
.list {
  > :not(:last-child) {
    &.list-row,
    .list-row {
      &:after {
        border-color: var(--color-base-content);
        opacity: 5%;
      }
    }
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.movie-list a.transitioning img {
  view-transition-name: movieposter;
}
.movie-detail img {
  view-transition-name: movieposter;
}
@view-transition {
  navigation: auto;
}
